<div class="contents row">
  <div class="col s8 offset-s2">
    <%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
      <h3 class="center">編集する</h3>
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @tweet.text %></textarea>
      <h3 class="center"><input type="submit" value="SENT"></h3>
    <% end %>
  </div>