<div class="contents row" >
  <div class="col s8 offset-s2 ">
  <h3 class="center"><%= @nickname %>さんの投稿一覧</p></h3>
    <% @tweets.each do |tweet| %>
      <div class="card e8eaf6 indigo lighten-5">
        <div class="card-content black-text">
          <%= simple_format(tweet.text) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate(@tweets) %>
</div>


